build-SarganCV-Desktop_Qt_6_3_2_MSVC2019_64bit-Debug/
SarganCV/.qtc_clangd/
SarganCV/SarganStreamer/debug/
SarganCV/SarganYOLO/debug/

build-SarganCV-Desktop_Qt_6_3_1_GCC_64bit-Debug/

SarganCV/SarganCV.pro.user.6f36fa6
SarganCV/SarganCV.pro.user.bd6359d
build-SarganCV-Release/.qtc_clangd/
build-SarganCV-Release/
build-SarganCV-Replacement_for_Desktop_Qt_6_3_1_MinGW_64_bit-Release/
SarganCV/SarganStreamer/release/
Build/.qtc_clangd/
Build/SarganStreamer/debug/
Build/SarganYOLO/debug/
SarganCV/SarganYOLO/release/
build-SarganCV-Desktop_Qt_6_3_2_MSVC2019_64bit-Release/
