build-SarganCV-Desktop_Qt_6_3_2_MSVC2019_64bit-Debug/
SarganCV/.qtc_clangd/
SarganCV/SarganStreamer/debug/
SarganCV/SarganYOLO/debug/

build-SarganCV-Desktop_Qt_6_3_1_GCC_64bit-Debug/

SarganCV/SarganCV.pro.user.6f36fa6
SarganCV/SarganCV.pro.user.bd6359d
